.homeContainer {
    background-image: url('../images/financial5.png');
    background-size: auto;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    color: #fff;
    height: 60vh;
    padding-top: 40vh;
}

  
.helloText {
    height: auto;
    width: 100%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    /* margin-top: 40vh; */
    font-size: 55px;
    color: #fff;
    text-align: center;
    border-radius: 10px;
}

.startBtn {
    height: 50px;
    width: 150px;
    background-color: transparent;
    border: 2px solid #fff;
    margin-right: auto;
    margin-left: auto;
    cursor: pointer;
    border-radius: 36px;
    font-size: 25px;
    color: #fff;
    outline: none;
    transition: all 0.4s ease-in-out;
}

.startBtn:hover {
    border-color: #eee;
    color: #eee;
    transform: scale(1.1);
}

.centre {
    height: 50px;
    width: 150px;
    margin: auto;
    margin-top: 15px;
}

footer {
    position: fixed;
    bottom: 0;
}



@media only screen and (max-width: 848px) {
    .homeContainer {
        padding-top: 30vh !important;
        height: 70vh;
    }
}