.introContainer {
    height: 90vh;
    width: 90vw;
    padding: 5vh 5vw 5vh 5vw;
}

.introText {
    height: auto;
    width: 40%;
    width: 32%;
    font-size: 30px;
    text-align: center;
    margin-bottom: 20px;
}

.readyBtn {
    margin-left: 40%;
}

.readyBtn:hover { border-color: #fff; color: #fff;}


@media only screen and (max-width: 918px) { .introText { width: 40%; margin-bottom: 40px;} }
@media only screen and (max-width: 759px) { .introText { width: 50%; } }
@media only screen and (max-width: 600px) { .introText { width: 60%; } }
@media only screen and (max-width: 550px) { .introText { width: 80%; } .readyBtn {margin-left: 20%;}}
@media only screen and (max-width: 445px) { .introText { width: 90%; } }
