.plotContainer {
    height: 70vh;
    width: 85vw;
    background-color: #efefef;
    margin: auto;
    margin-top: 5%;
    border-radius: 31px;
    padding: 10px;
    color: #000;
}

.btns {
    position: fixed;
    right: 10vw;
    margin-top: 5vh;
}

.ddBtns {
    outline: none;
    height: 40px;
    width: 100px;
    background-color: transparent;
    border: 2px solid #fff;
    border-radius: 36px;
    color: #fff;
    font-size: 18px;
    text-align: center;
    transition: all 0.4s ease-in-out;
    margin-left: 20px;
    margin-bottom: 20px;
    cursor: pointer;
}

.ddBtns:hover {
    border-color: #eee;
    color: #eee;
    transform: scale(1.1);
}